doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title ドラゴンクエスト10 思い出アルバムダウンローダー
    link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
    link(href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet")

  body
    div#root
    p 思い出アルバムページを開いた状態で実行してください
    br
    .container
      a.btn#btn-current 現在のページの画像
      a.btn#btn-all すべてのページ
