doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title DQX Omoide Album Downloader
    link(rel="stylesheet", href="popup.css")

  body
    ul#lists
      li menu1
      li menu2

    script(src="popup.js")
